.Content{
    display: flex;
    flex-direction: column;
   
}
.Time{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainContent{
    height: 88vh !important;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Timmer{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.btnGroup{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-bottom: 5vh;
}


.Button{
    size: 20px;
    font-size: 20px;

}
